%p= "Hello #{@member.name},"

%p 
  You are receiving this email because you have been invited to join the Award Tracking Information System site.
  
%p
  To login to the site follow this link:
  = link_to @url, @url
  
  %br/
  
  If you are logged into Google you will be asked to verfiy access for this application, otherwise you will be asked to sign in to a Google account and authorize this application.
  
%p 
  If you have any problems logging in please contact support at support@gina.alaska.edu
  
  
%p
  Thanks,
  %br/
  Geographic Information Network of Alaska
  
  