%p= "Hello,"

%p
  The following statement of work is now ready to be reviewed,
  visit the following link to review this statement of work:

%p
  = link_to @url, @url
  
%table{:border => "0", :cellpadding => "0", :cellspacing => "0", style: "width: 90%;"}
  %tr
    %td{:valign => "top", style: "padding: 10px;"}
      = render @sow

%p This is an automated message. Please do not reply to this email.

%p
  Thanks,
  %br/
  Geographic Information Network of Alaska
  