- if group and group.strategic_objectives.count > 0
  .control-group
    .controls
      - group.strategic_objectives.each do |so|
        %label.checkbox
          = check_box_tag 'sow[other_strategic_objective_ids]', so.id
          = so.name
        - if so.name == 'Other'
          = text_field_tag 'sow[other_strategic_objectives_text]', other_value, placeholder: 'Specify other objective if selected', class: 'span12'            
- else
  .alert.alert-info Select an award group to see the list of strategic objectives
