%h3 Editing group
.row-fluid
  .span9
    = render 'form'
  .span3
    = link_to groups_path, class: 'btn btn-block' do
      %i.icon-arrow-left
      Back to group list
    = link_to 'Update group', '#', "data-submit" => "form.group_form", class: 'btn btn-block btn-primary'
