.row
  .span8
    - if Sow.owner(current_user).count > 0
      %h4 Active statements of work
      = render 'sows/list', sows: Sow.owner(current_user).active.all

    - if Sow.owner(current_user).pending_review.count > 0
      %h4 Pending review statements of work
      = render 'sows/list', sows: Sow.owner(current_user).pending_review.all
  .span4
    .well.well-small
      %ul.nav.nav-list
        %li.nav-header Menu
        %li
          = link_to new_sow_path do
            %i.icon-plus
            New Statement of Work
        - if current_user.has_role? :admin
          %li
            = link_to users_path do
              %i.icon-user
              Users
