.row
  .span8
    Placeholder for some sort of status information, maybe latest notices
  .span4
    .well.well-small
      %ul.nav.nav-list
        %li.nav-header Menu
        %li
          = link_to new_sow_path do
            %i.icon-plus
            New Statement of Work
        %li
          = link_to sows_path do
            %i.icon-list
            Current Statement of Work forms
