.row-fluid{style:"margin:5px 0;"}
  .span12
    = form_for [@sow, Attachment.new], html: { id: 'fileupload', class: 'form-inline', style:"margin:0;" } do |f|
      %span.btn.btn-warning.btn-block.fileinput-button
        %i.icon-plus.icon-white
        %span Attach files...
        = f.file_field :file, multiple: true
#upload_status{style:"display:none;"}
  .row-fluid
    .span12
      %h5 Upload status
  .row-fluid
    #upload_messages.span10.offset1
    
      
:javascript
  $(document).ready(function() {
    // Initialize the jQuery File Upload widget:
    $('#fileupload').fileupload({
      dataType: 'json',
      add: function (e, data) {
        $('#upload_status').show();
          
        data.context = $('<div class="progress" />').appendTo($('#upload_messages'))
        $('<div class="bar" style="width:0%" />').text('Uploading: ' + data.files[0].name).appendTo($(data.context));
        
        data.submit();
      },
      done: function (e, data) {
        data.context.find('.bar').text('Finished: ' + data.files[0].name);
        data.context.find('.bar').addClass('bar-success');
        
        if ($('#attachment_list').data('updateTimer')) {
          clearTimeout($('#attachment_list').data('updateTimer'))
        }
        
        $('#attachment_list').data('updateTimer', setTimeout(function() {
          $('#attachment_list').load('#{sow_attachments_path(@sow)}');
        }, 1000));
      },
      fail: function(e, data) {
        data.context.find('.bar').text('Failed: ' + data.files[0].name)
        data.context.find('.bar').addClass('bar-danger')
      },
      progress: function (e, data) {
        var progress = parseInt(data.loaded / data.total * 100, 10);
        data.context.find('.bar').css(
          'width',
          progress + '%'
        );
      }
    });
  });