%dt Created
%dd= sow.created_at.strftime('%F %r')
- if sow.submitted_on?
  %dt Submitted
  %dd= sow.submitted_on.strftime('%F %r')
- if sow.accepted_on?
  %dt Accepted
  %dd= sow.accepted_on.strftime('%F %r')
- elsif sow.rejected_on?
  %dt Rejected
  %dd= sow.rejected_on.strftime('%F %r')
    
