.row-fluid
  .span12
    %dt Period
    %dd
      = @sow.period == 'other' ? "#{@sow.other_period}" : @sow.period
      days
    %dt Research period of performance
    %dd= @sow.research_period_of_performance
