%dt Period
%dd
  = @sow.period == 'other' ? "#{@sow.other_period}" : @sow.period
  days
- if @sow.research_period_of_performance.present?
  %dt Period of performance
  %dd= @sow.research_period_of_performance
