%h2 New statement of work
.row
  .span8
    = render 'form', sow: @sow
  .span4
    %h4 Action
    = link_to root_url, class: 'btn btn-block' do
      %i.icon-arrow-left
      Back to dashboard
    = link_to 'Save statement of work', '#', "data-submit" => "form.sow_form", class: 'btn btn-primary btn-block'
    
    %h4 Attachments
    .alert.alert-info Statement of work must be saved before attachments can be uploaded.