.dialog
  .caption
    %h1 500: Internal Server Error
    %p
      We're sorry, but something unexpected has happened.
      We have been notified of the issue and our technicians are working on the problem.
    %ul
      %li= link_to "Home Page", root_url
      %li= link_to "GINA Website", "http://www.gina.alaska.edu"