.dialog
  .caption
    %h1 401: Unauthorized
    %p
      You are not authorized to access that page
    %ul
      %li= link_to "Home Page", root_url
      %li= link_to "GINA Website", "http://www.gina.alaska.edu"