@import 'compass';
@import 'bootstrap';
@import 'sows';
@import 'select2/select2';
@import 'jquery.fileupload-ui';
 
#header {
 margin-bottom: 5px;
}

.navbar .divider-vertical {
  height: 39px;
}

.user_button a {
  background: no-repeat;
  .name {
    padding-left: 30px;
  }
}

.ellipsis {
  text-align: center;
  padding: 3px;
}

.activity_list {
  max-height: 500px;
  overflow-y: auto;
  
  .activity {
    position: relative;
    margin-bottom: 5px;
    padding: 2px;
    padding-left: 52px;
    min-height: 48px;
    border: 1px solid #ddd;
    @include border-radius(4px);
    background: #eee no-repeat;
    
    .avatar {
      position: absolute;
      top: 0;
      left: 0;
      
      img { width: 48px; height: 48px; }
    }
  }
}