- activities ||= Activity.where(:owner_id => [nil, current_member])
- activities = activities.order('created_at DESC').limit(20)
%h4 Activity Stream
.activity_list
  - activities.each do |a|
    .activity{style:"background-image: url(#{avatar_url(a.subject, 48)});"}
      = "#{a.full_message} #{time_ago_in_words a.created_at} ago"