#header.navbar.navbar-static-top
  .navbar-inner
    = link_to root_url, class: 'brand' do
      ATIS: Award Tracking Information System
    %ul.nav.pull-right
      %li
        - if user_signed_in?
          = link_to signout_path do
            %i.icon-lock
            Sign out
        - else
          = link_to signin_path do
            %i.icon-lock
            Sign in