!!! Strict
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title Your Message Subject or Title
    :css
      /* Based on The MailChimp Reset INLINE: Yes. */  
      /* Client-specific Styles */
      #outlook a {padding:0;} /* Force Outlook to provide a "view in browser" menu link. */
      body{width:100% !important; -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; margin:0; padding:0;} 
      /* Prevent Webkit and Windows Mobile platforms from changing default font sizes.*/ 
      .ExternalClass {width:100%;} /* Force Hotmail to display emails at full width */  
      .ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {line-height: 100%;}
      /* Forces Hotmail to display normal line spacing.  More on that: http://www.emailonacid.com/forum/viewthread/43/ */ 
      #backgroundTable {margin:0; padding:0; width:100% !important; line-height: 100% !important;}
      /* End reset */

      /* Some sensible defaults for images Bring inline: Yes. */
      img {outline:none; text-decoration:none; -ms-interpolation-mode: bicubic;} 
      a img {border:none;} 
      .image_fix {display:block;}

      /* Yahoo paragraph fix, Bring inline: Yes. */
      p {margin: 1em 0;}

      /* Hotmail header color reset, Bring inline: Yes. */
      h1, h2, h3, h4, h5, h6 {color: black !important;}

      h1 { font-size: 2em; }
      h2 { font-size: 1.8em; }
      h3 { font-size: 1.6em; }
      h4 { font-size: 1.4em; }

      h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {color: blue !important;}

      h1 a:active, h2 a:active,  h3 a:active, h4 a:active, h5 a:active, h6 a:active {
      color: red !important; /* Preferably not the same color as the normal header link color.  There is limited support for psuedo classes in email clients, this was added just for good measure. */
      }
      
      fieldset {
        border: 0;
        font-size: 1em;
        margin-left: 1em;
      }
      fieldset > legend {
        width: 100%;
        display: block;
        padding: 0.5em 0;
        margin: 0;
        margin-left: -1em;
        margin-bottom: 1.2em;
        font-size: 1.3em;
        font-weight: bold;
        border-bottom: 1px solid #e5e5e5;
      }
      
      h1 a:visited, h2 a:visited,  h3 a:visited, h4 a:visited, h5 a:visited, h6 a:visited {
      color: purple !important; 
      /* Preferably not the same color as the normal header link color. There is limited support for psuedo classes in email clients, this was added just for good measure. */
      }

      /* Outlook 07, 10 Padding issue fix, Bring inline: No.*/
      table td {border-collapse: collapse;}

      /* Remove spacing around Outlook 07, 10 tables, Bring inline: Yes */
      table { border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt; }
      
      .table {
        width: 100%;
        margin-bottom: 20px;
      }
      .table th,
      .table td {
        padding: 8px;
        line-height: 20px;
        text-align: left;
        vertical-align: top;
        border-top: 1px solid #dddddd;
      }
      .table th {
        font-weight: bold;
      }
      .table thead th {
        vertical-align: bottom;
      }
      .table caption + thead tr:first-child th,
      .table caption + thead tr:first-child td,
      .table colgroup + thead tr:first-child th,
      .table colgroup + thead tr:first-child td,
      .table thead:first-child tr:first-child th,
      .table thead:first-child tr:first-child td {
        border-top: 0;
      }
      .table tbody + tbody {
        border-top: 2px solid #dddddd;
      }
      .table .table {
        background-color: white;
      }

      .table-condensed th,
      .table-condensed td {
        padding: 4px 5px;
      }

      .table-bordered {
        border: 1px solid #dddddd;
        border-collapse: separate;
        *border-collapse: collapse;
        border-left: 0;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
      }
      .table-bordered th,
      .table-bordered td {
        border-left: 1px solid #dddddd;
      }
      .table-bordered caption + thead tr:first-child th,
      .table-bordered caption + tbody tr:first-child th,
      .table-bordered caption + tbody tr:first-child td,
      .table-bordered colgroup + thead tr:first-child th,
      .table-bordered colgroup + tbody tr:first-child th,
      .table-bordered colgroup + tbody tr:first-child td,
      .table-bordered thead:first-child tr:first-child th,
      .table-bordered tbody:first-child tr:first-child th,
      .table-bordered tbody:first-child tr:first-child td {
        border-top: 0;
      }
      .table-bordered thead:first-child tr:first-child > th:first-child,
      .table-bordered tbody:first-child tr:first-child > td:first-child,
      .table-bordered tbody:first-child tr:first-child > th:first-child {
        -webkit-border-top-left-radius: 4px;
        -moz-border-radius-topleft: 4px;
        border-top-left-radius: 4px;
      }
      .table-bordered thead:first-child tr:first-child > th:last-child,
      .table-bordered tbody:first-child tr:first-child > td:last-child,
      .table-bordered tbody:first-child tr:first-child > th:last-child {
        -webkit-border-top-right-radius: 4px;
        -moz-border-radius-topright: 4px;
        border-top-right-radius: 4px;
      }
      .table-bordered thead:last-child tr:last-child > th:first-child,
      .table-bordered tbody:last-child tr:last-child > td:first-child,
      .table-bordered tbody:last-child tr:last-child > th:first-child,
      .table-bordered tfoot:last-child tr:last-child > td:first-child,
      .table-bordered tfoot:last-child tr:last-child > th:first-child {
        -webkit-border-bottom-left-radius: 4px;
        -moz-border-radius-bottomleft: 4px;
        border-bottom-left-radius: 4px;
      }
      .table-bordered thead:last-child tr:last-child > th:last-child,
      .table-bordered tbody:last-child tr:last-child > td:last-child,
      .table-bordered tbody:last-child tr:last-child > th:last-child,
      .table-bordered tfoot:last-child tr:last-child > td:last-child,
      .table-bordered tfoot:last-child tr:last-child > th:last-child {
        -webkit-border-bottom-right-radius: 4px;
        -moz-border-radius-bottomright: 4px;
        border-bottom-right-radius: 4px;
      }
      .table-bordered tfoot + tbody:last-child tr:last-child td:first-child {
        -webkit-border-bottom-left-radius: 0;
        -moz-border-radius-bottomleft: 0;
        border-bottom-left-radius: 0;
      }
      .table-bordered tfoot + tbody:last-child tr:last-child td:last-child {
        -webkit-border-bottom-right-radius: 0;
        -moz-border-radius-bottomright: 0;
        border-bottom-right-radius: 0;
      }
      .table-bordered caption + thead tr:first-child th:first-child,
      .table-bordered caption + tbody tr:first-child td:first-child,
      .table-bordered colgroup + thead tr:first-child th:first-child,
      .table-bordered colgroup + tbody tr:first-child td:first-child {
        -webkit-border-top-left-radius: 4px;
        -moz-border-radius-topleft: 4px;
        border-top-left-radius: 4px;
      }
      .table-bordered caption + thead tr:first-child th:last-child,
      .table-bordered caption + tbody tr:first-child td:last-child,
      .table-bordered colgroup + thead tr:first-child th:last-child,
      .table-bordered colgroup + tbody tr:first-child td:last-child {
        -webkit-border-top-right-radius: 4px;
        -moz-border-radius-topright: 4px;
        border-top-right-radius: 4px;
      }

      .table-striped tbody > tr:nth-child(odd) > td,
      .table-striped tbody > tr:nth-child(odd) > th {
        background-color: #f9f9f9;
      }

      .table-hover tbody tr:hover > td,
      .table-hover tbody tr:hover > th {
        background-color: whitesmoke;
      }

      .table tbody tr.success > td {
        background-color: #dff0d8;
      }
      .table tbody tr.error > td {
        background-color: #f2dede;
      }
      .table tbody tr.warning > td {
        background-color: #fcf8e3;
      }
      .table tbody tr.info > td {
        background-color: #d9edf7;
      }

      .table-hover tbody tr.success:hover > td {
        background-color: #d0e9c6;
      }
      .table-hover tbody tr.error:hover > td {
        background-color: #ebcccc;
      }
      .table-hover tbody tr.warning:hover > td {
        background-color: #faf2cc;
      }
      .table-hover tbody tr.info:hover > td {
        background-color: #c4e3f3;
      }
      
      blockquote {
        padding: 0 0 0 15px;
        margin: 0 0 20px;
        border-left: 5px solid #eeeeee;
      }

      blockquote p {
        margin-bottom: 0;
        font-size: 1em;
        font-weight: 300;
      }

      blockquote small {
        display: block;
        color: #999999;
      }

      blockquote small:before {
        content: '\2014 \00A0';
      }

      blockquote.pull-right {
        float: right;
        padding-right: 15px;
        padding-left: 0;
        border-right: 5px solid #eeeeee;
        border-left: 0;
      }

      blockquote.pull-right p,
      blockquote.pull-right small {
        text-align: right;
      }

      blockquote.pull-right small:before {
        content: '';
      }

      blockquote.pull-right small:after {
        content: '\00A0 \2014';
      }

      q:before,
      q:after,
      blockquote:before,
      blockquote:after {
        content: "";
      }

      @media only screen and (max-device-width: 480px) {
        / * Part one of controlling phone number linking for mobile. */
      	a[href^="tel"], a[href^="sms"] {
      				text-decoration: none;
      				color: blue; /* or whatever your want */
      				pointer-events: none;
      				cursor: default;
      			}

      	.mobile_link a[href^="tel"], .mobile_link a[href^="sms"] {
      				text-decoration: default;
      				color: orange !important;
      				pointer-events: auto;
      				cursor: default;
      			}

      }

      @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
      	a[href^="tel"], a[href^="sms"] {
      				text-decoration: none;
      				color: blue; /* or whatever your want */
      				pointer-events: none;
      				cursor: default;
      			}

      	.mobile_link a[href^="tel"], .mobile_link a[href^="sms"] {
      				text-decoration: default;
      				color: orange !important;
      				pointer-events: auto;
      				cursor: default;
      			}
      }
  %body
    %table#backgroundTable{:border => "0", :cellpadding => "0", :cellspacing => "0"}
      %tr
        %td{:valign => "top", style: "padding: 10px;"}
          = yield
